
  @import url("https://use.typekit.net/zmy3jjm.css");

:root {
   /* palette  */
   --bkgColour : #F5F3DE; /*beige*/
   --textColourDark : black; 
   --textColourLight : white; 
   --accentYellow: #FFC531;  
   --accentPink: #F4B6AD;
   --accentBlue: #B5D3CD;
   --accentTeal: #4E897D;
   --accentRed: #E35349;

    /* fonts */
    --dapifer : dapifer, serif;
    --azo: azo-sans-web, sans-serif;
    --thick:600;

    /* buttons */
    --button_padding: 5px 10px;
    --button-radius : 30px;
}

