.otherNames {
    display: flex;
    padding: 1% 0%;

}


#viewRecipe {
    display: flex;
    gap: 30px;
}

.recipeText {
    width: 50vw;
}

.recipeViewImg img {
    width: auto;
    height: 70vh;
    margin: 10%;
}

.otherNames h3 {
    padding-right: 10%;
}

#storyRec {
    padding: 3% 0;
}

#recipe-tags,
#recipePrep {
    display: flex;
    padding: 1% 0%;
    gap: 10px;
}

#recipePrep {
    gap: 30px
}

#recipe-tags p {
    border: 1px solid black;
    border-radius: var(--button-radius);
    padding: 5px 10px;
}

.list {
    padding-left: 5%;
}